<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #postForm="ngForm" (submit)="onSavePost(postForm)" *ngIf="!isLoading">
    <mat-form-field>
      <input
        #title="ngModel"
        [ngModel]="post?.title"
        matInput
        name="title"
        placeholder="Post Title"
        required
        type="text"
      >
      <mat-error *ngIf="title.invalid">
        Please enter a title
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea
          #content="ngModel"
          [ngModel]="post?.content"
          matInput
          name="content"
          placeholder="Post Content"
          required
          rows="7"
        ></textarea>
      <mat-error *ngIf="content.invalid">
        Content is not valid
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="accent"
    >Save Post!</button>
  </form>
</mat-card>
